.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    min-width: 300px;
    margin: 10px;
}

.card1,.card2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

/* .card1,.card2:hover {
    transform: translateY(-5px);
} */

.card1-header,.card2-header {
    background: linear-gradient(135deg, #6a82fb, #fc5c7d);
    color: white;
    padding: 15px;
    text-align: center;
}

.card1-body,.card2-body {
    padding: 20px;
}

.modern-table {
    width: 100%;
    border-collapse: collapse;
}

.modern-table td {
    padding: 12px;
    /* border: 1px solid #ddd; */
    text-align: left;
}

/* .modern-table tr:nth-child(even) {
    background-color: #f7f7f7;
} */

.modern-table tr:hover {
    background-color: #f1f1f1;
}

.form-control {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #6a82fb;
    outline: none;
}

.action-button {
    background-color: #fc5c7d;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

.action-button:hover {
    background-color: #d45a72;
}

.text-success {
    color: #6a82fb;
}

h5 {
    margin: 0;
}


#bt1,#bt2,#bt3,#bt4,#bt5,#bt6,#bt7,#bt8,#bt9,#bt10{
    width: 25px; 
    height: 25px; 
    border: none; 
    border-bottom-left-radius: 22.3px; 
    border-top-left-radius: 22.3px; 
    border-top-right-radius: 22.3px;
    border-bottom-right-radius: 22.3px;
}


 /* Sidebar Styles */
 .sidebar {
    background: #343a40;
    color: #ffffff;
    height: 100vh;
    padding: 1rem;
}

.sidebar img {
    width: 40px;
    height: 40px;
}

.sidebar .navbar-brand {
    display: flex;
    align-items: center;
}

.sidebar .sidebar-brand-text {
    font-size: 1.25rem;
    margin-left: 0.5rem;
}

.sidebar .nav-item a {
    color: #ffffff;
    text-decoration: none;
    padding: 0.75rem 1rem;
    display: flex;
    align-items: center;
}

.sidebar .nav-item a.active,
.sidebar .nav-item a:hover {
    background: #007bff;
    border-radius: 0.25rem;
}